body {
    font-family: Arial, 'Courier New', Courier, monospace, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    background: #333;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    background: white;
    border: 1px solid #777;
    margin: 0 auto;
}

#header {
    background: #33a;
    color: white;
    margin: 0;
    padding: 0.5em;
    display: flex;
    justify-content: start;
    align-items: center;
}

#header > img {
    width: 50px;
    margin: 1rem;
}

#header .tagline {
    padding: 0 0 1em;
    font-size: 0.6em;
}

.post {
    padding: 1em;
}

#footer {
    background: #333;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0.5em;
}

#footer > ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

ul > li {
    list-style: none;
}