/* General resets */
* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0;
    font-family: Arial, 'Courier New', Courier, monospace, Helvetica, sans-serif;
    color: #333;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    background: #33a;
    color: white;
    padding: 10px;
}
.header__img {
    width: 60px;
    height: 60px;
    margin: 10px;
}
.header__title {
    font-size: 3rem;
}

/* Posts wrapper */
.posts-wrapper {
    padding: 0 40px;
}

/* Post */
.post {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: repeat(2, 1fr);
}
.post__title {
    grid-area: 1 / 1 / 2 / 3;
    padding: 21px 0;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.post__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.5;
}
.post__text--subtitle {
    font-size: 3rem;
}
.post__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
}
.post__img img{
    width: 100%;
    border-radius: 10px;
}
.post__img--legend{
    font-size: 1.8rem;
}
.post__list {
    list-style: none;
    padding: 0;
}

/* Subscribe section */
.subscription {
    display: grid;
    place-content: center;
    height: 100px;
    padding: 0 40px;
    font-size: 2.5rem;
}
.subscription__title a {
    color: #333;
    text-decoration: none;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 2rem;
    background: #333;
}

.footer__contact-info li a {
    color: #fff;
    text-decoration: none;
}